<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks List</title>
</head>
<body>
<h1>Welcome to Tasks List</h1>

<div th:switch="${tasks}">
    <h2 th:case="null">No tasks found!</h2>
    <div th:case="*">
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Task name</th>
                <th>Tasc creation Date</th>
                <th>Tasc update Date</th>
                <th>Tasc status</th>
                <th>Description</th>
                <th>User</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskCreationDate}"></td>
                <td th:text="${task.taskUpdateDate}"></td>
                <td th:text="${task.taskStatus}"></td>
                <td th:text="${task.description}"></td>
                <!--<td th:text="${task.user.getFirstName()}"></td>-->
           <!--     <td><a th:href="@{tasks/task-update/{id}(id=${task.id})}">Edit</a></td>
                <td><a th:href="@{tasks/user-delete/{id}(id=${task.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/tasks/task-create">Create New Task</a></p>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>