<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
<form action="#" th:action="@{/tasks/task-create}" th:object="${task}" method="post">
    <label for="taskName">Task Name</label>
    <input type="text" th:field="*{taskName}" id="taskName" placeholder="Task Name">
    <label for="taskStatus">Task Status</label>
    <select id="taskStatus" name="taskStatus" th:field="*{taskStatus}">
        <option th:each="taskStatus : ${T(com.example.taskmanagementsystem.enums.TaskStatus).values()}"
                th:value="${taskStatus}" th:text="${taskStatus}">
        </option>
    </select>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <label for="user">User</label>
    <select  id="user" name="user" th:field="*{user}" placeholder="Users">
        <option th:each="user : ${users}" th:value="${user.id}" th:utext="${user.getEmail()}"></option>
    </select>
    <input type="submit" value="Create Task">

</form>
</body>
</html>
